* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  direction: rtl;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

@media (max-width: 1212px) {
  body {
    display: grid;
  }
}

.spining {
  transform: rotate(-90deg);
}

.colorFocus {
  backgroundColor: crimson;
}
